[importlinter]
root_package = physicsnemo
include_external_packages = True
exclude_type_checking_imports = True
contract_types =
    forbidden_import: test.ci_tests.prevent_untracked_imports.ForbiddenImportContract

[importlinter:contract:physicsnemo-modules]
name = Prevent Upward Imports in the PhysicsNemo Structure
type = layers
containers=
   physicsnemo
layers = 
   experimental
   active_learning : diffusion
   sym
   models : datapipes : metrics : domain_parallel : optim
   mesh
   nn
   utils
   distributed 
   core

[importlinter:contract:physicsnemo-core]
name = Control Dependencies in PhysicsNeMo core
type = layers
containers=
   physicsnemo.core
layers = 
   module : registry
   meta
   warnings | version_check | filesystem


[importlinter:contract:physicsnemo-distributed]
name = Control Dependencies in PhysicsNeMo distributed
type = layers
containers=
   physicsnemo.distributed
layers = 
   fft | autograd
   mappings
   utils
   manager
   config

[importlinter:contract:physicsnemo-utils]
name = Control Dependencies in PhysicsNeMo utils
type = layers
containers=
   physicsnemo.utils
layers = 
   mesh | insolation | zenith_angle
   profiling
   checkpoint
   capture
   logging | memory

[importlinter:contract:physicsnemo-nn]
name = Control Dependencies in PhysicsNeMo nn
type = layers
containers=
   physicsnemo.nn
layers = 
   module.fourier_layers | module.transformer_layers | module.unet_layers
   module.dgm_layers | module.mlp_layers | module.fully_connected_layers | module.gnn_layers | module.attention_layers
   module.activations | module.ball_query | module.conv_layers  | module.drop | module.fft | module.fused_silu | module.kan_layers  | module.resample_layers | module.siren_layers | module.spectral_layers | module.transformer_decoder  | module.weight_fact | module.weight_norm | module.embedding_layers | module.group_norm | module.hpx
   functional
   module.utils

[importlinter:contract:physicsnemo-nn-gnn-layers]
name = Control Internal Dependencies in PhysicsNeMo nn GNN Layers
type = layers
containers=
   physicsnemo.nn.module.gnn_layers
layers = 
   bsms
   mesh_graph_decoder | mesh_graph_encoder
   mesh_node_block | mesh_edge_block
   mesh_graph_mlp 
   utils  
   graph
   distributed_graph
   graph_types

[importlinter:contract:physicsnemo-models]
name = Prevent Imports between physicsnemo models
type = layers
containers=
   physicsnemo.models
layers = 
   mesh_reduced
   afno | dlwp | dlwp_healpix | dit | domino | dpot | fengwu | figconvnet | fno | graphcast | meshgraphnet | pangu | pix2pix | rnn |  srrn | swinvrnn | topodiff | transolver  | vfgn | diffusion_unets
   unet

[importlinter:contract:physicsnemo-diffusion]
name = Control Internal Dependencies in PhysicsNeMo diffusion
type = layers
containers=
   physicsnemo.diffusion
layers = 
   generate
   samplers : metrics
   multi_diffusion : preconditioners : guidance
   noise_schedulers
   utils

[importlinter:contract:physicsnemo-sym]
name = Control Internal Dependencies in PhysicsNeMo sym
type = layers
containers=
   physicsnemo.sym
layers = 
   eq
   graph
   computation
   utils
   constants

[importlinter:contract:physicsnemo-external-imports]
name = Prevent Non-listed external imports in physicsnemo
type = forbidden_import
container = physicsnemo
